<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhao.demo.mapper.UserMapper">

    <!--查询多条数据-->
    <select id="selectAllUser" resultType="User">
        SELECT id,name,phone,address,birthday FROM t_user
    </select>

    <select id="selectUserById" resultType="User">
        select id,name,phone,address,birthday from t_user where id=#{id}
    </select>

    <insert id="addOrUpdate">
        <!--<selectKey keyProperty="id" keyColumn="id" order="AFTER" resultType="int">-->
            <!--select last_insert_id()-->
        <!--</selectKey>-->
        insert into t_user (name,phone,address) values(#{name},#{phone},#{address});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@identity
        </selectKey>
    </insert>


    <update id="updateToUser" parameterType="User">
        update t_user set name=#{name},phone=#{phone},address=#{address} where id=#{id}
    </update>

    <!--删除-->
    <delete id="del">
        DELETE FROM t_user where id=#{id}
    </delete>

</mapper>