<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monkey1024.mybatis.mapper.StudentMapper">

    <!--查询多条数据-->
    <select id="selectAllStudent" resultType="student">
        SELECT id,name,age,score FROM t_student
    </select>


</mapper>